<img src="/img/projects/appetit.jpg" alt="Appetit">
<h1 class="project-title">Appetit</h1>
<p>
    I started working on <a href="http://appetit.lab.tid.es/appetit/#/mydish" target="_blank">Appetit</a> when I joined Telefonica I+D (R&D) in Barcelona. The idea behind the project was to create an app which helps in the creative process of cooking. My role was to create the interface of the app where we offered novel ways of interactions to the users. I used the great D3.js library for the visualisations and the interactions.
</p>
<p>Try the <a href="http://appetit.lab.tid.es/appetit/#/mydish" target="_blank">app</a>!</p>
<p>
    Here are some screenshots:
</p>
<h3>Interaction</h3>
<img src="/img/appetit-walk.jpg" alt="Appetit Walk">
<h3>Visualisations</h3>
<img src="/img/appetit-yellow.jpg" alt="Appetit Yellow" style="width:49%;">
<img src="/img/appetit-red.jpg" alt="Appetit Yellow" style="width:49%;">
<img src="/img/appetit-green.jpg" alt="Appetit Yellow" style="width:49%;">
<img src="/img/appetit-white.jpg" alt="Appetit Yellow" style="width:49%;">

