<img src="/img/projects/cronnection.jpg" alt="Cronnection">
<h1 class="project-title">Cronnection</h1>
<p>
    <a href="http://cronnection.com/" target="_blank">Cronnection</a> was a start up where the main idea was based on a collaborative consumption (sharing economy) platform where people could offer their goods and services. We were working in a small group, so I got to see the project evolution from end-to-end. This gave me the ability to assess every stage of product development.
</p>
<p>
    My main task in the project involved creating the front-end of a social network based platform, focusing on clean and efficient code while creating an appealing and functional interface design. I was in charge of optimising the code and assets in terms of load speed, index-ability and compatibility with different browsers and devices. On top of the technical challenges, I also contributed to decisions on user interface and user experience design.
</p>