<div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/lDW1so78jXU?rel=0' frameborder='0' allowfullscreen></iframe>
</div>
<h1 class="project-title">Digital Psychedelia</h1>
<p>
    I took a course on “Real-time Interaction” as part of my degree in Universitat Pompeu Fabra, Barcelona. After long discussions on what we consider and mean by interaction and what kind of interactive programs, installations and devices can be done following these theories me and three of my course mates came up with this project.
</p>
<p>
    Our idea was to create a little hack, where the perceived information of our environment gets distorted by a computer and this happens in real-time. We thought that this idea would cut our expectations with our environments and therefore motivate us to re-explore it, interact with it.
</p>
<p>
    We modified a pair of headphones: we put small capsule microphones on their outside. So when one plugs these hacked headphones in their ears, the mics record the sound that they would hear normally. This recording then goes into a computer and the sound gets modified, distorted. After that the sound comes out from the laptop and gets played in the headphones with almost no latency. So when one uses the device, they can hear exactly the same sounds at the same time as they would hear them normally, but with the additional effects. We wanted to create “worlds” of sounds, so the Max/MSP patches are written in a way, that the user can choose between these scenarios by going on a local host we set up. 
</p>