<div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/1lFZwVHOJe8?rel=0' frameborder='0' allowfullscreen></iframe>
</div>
<h1 class="project-title">Dinner Teaser</h1>
<p>
    This is one of the videos of a <a href="https://www.youtube.com/channel/UC1xDyIQsBhut87zB_arsQJw" target="_blank">food blog</a> that I ran as a hobby. In one minute everybody can see how the food was made and how me and my friends enjoy it. I tried to show the easy going atmosphere, the friendly environment, the coolness and the small mistakes around cooking to tell my friends how “work” in the kitchen can be seen as something fun.
</p>
<p>
    Another important aspect that I wanted to show was the accessibility to well made food. This is why I chose the friendly, familiar shots of the environment, often showing mistakes and the good old dirtiness of a real kitchen. Also, I never included exact measures to emphasise that in the kitchen you just have to do it!
</p>
<p>
    Just a small side comment :) I was doing this before online social media turned towards video, before tools like Instagram’s video recording, Vine or Facebook pages like <a href="https://www.facebook.com/buzzfeedtasty/" target="_blank">Tasty</a> existed and before the rise of the new age food culture. Anyway, just wanted to point out that the direction I was thinking later became a mainstream way of communicating these ideas.
</p>