<div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/SWZipdoENMg?rel=0' frameborder='0' allowfullscreen></iframe>
</div>
<h1 class="project-title">Dynamic Digits</h1>
<p>
    With this project I wanted to show that random behaviour can make sense when it is within limits. The contours of the digits are the organised set of basis points. From this constrained set, the line segments move to their new positions by “choosing” randomly. Although the new positions are theoretically accidental, our perception of the shapes is very clear within the boundaries.
</p>
<p>
    As with some of my other projects, I wanted to explore the boundaries of our perception. At which points can we make sense of the world around us? What is the necessary coherence for this to happen? How does this relate to our expectations?
</p>
