<div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/-qZWpfmSXCQ?rel=0' frameborder='0' allowfullscreen></iframe>
</div>
<p>
    The idea behind the project was to combine the visual richness of the analogue world with the more synthetic shapes and motion of computer generated graphics. In this sketch, a boids algorithm was modified so that the moving particles reveal an image. Mainly I was interested to see the borderline between focusing on the movement of the particles and the resulting image itself. At what points or limits does our perception tune itself to one or the other?
</p>