<img src="/img/projects/necrotopia.jpg" alt="Necrotopia">
<h1 class="project-title">Necrotopia</h1>
<p>
    I got selected to go to the <a href="http://www.urbanixdsummerschool.eu/about/about-the-urbanixd-project/" target="_blank">Urban Interaction Design summer school</a> in 2013. Here’s the description of the aim of the summer school:
</p>
<blockquote>
    This Coordination Action will define a coherent multidisciplinary research community working in the domain of technologically augmented, data-rich urban environments, with particular focus on the human activities, experiences and behaviours that occur within them.
</blockquote>
<blockquote>
    The project will employ a “Critical Design” methodology to explore social and technological issues that will be important to future FET [Future and Emerging Technologies] research agendas. This Critical Design methodology will act as a catalyst for reflection and examination, leading to a high-profile public outreach programme, including an exhibition, and will enable the production of an informed Research Agenda output. This Agenda document will use the exploratory design activities carried out across the duration of the project to reflect upon emergent issues, and synthesise these into a focussed statement on future research directions.
</blockquote>
<blockquote>
    City populations are currently in a state of rapid flux. Conurbations are fast becoming a hybrid of the physical environment and the digital world. How we, as physical beings, will connect with, interpret and adapt this increasing dataflow residing in our cities is already becoming a significant research question.
</blockquote>
<p>
    We investigated the future of personal data after death in a critical design perspective.
</p>
<p>
    Urban population growth has reached a point where building land is scarce and precious; where citizens were forced to question even the land left to graveyards. Furthermore, going to graveyards to pay their respects has turned into an unforeseen problem for global citizens. Meanwhile, the social media interfaces have become personal memory logbooks not only for the living, but also for those who wish to pay their respects to the dead profiles.
</p>
<p>
    Ultimately, these developments have led humanity to take a big step toward dealing with their physical and digital remains. They invented the Necrotopia system, in which the physical body and digital data are transformed into ‘Hybrid Remains’, each the size of a small diamond. These digital diamonds are then transported in space shuttles to outer space, where they become part of the “World Wide Dead Database”. From here, a new type of satellite known as the “Space-yard” transmits this digital dead data back down to Earth, where it can be accessed in a new type of cemetery found all around the world. The World Wide Dead cemeteries consist of “Holograves”, holographic user interfaces allowing memory access from any city in the world. Here one can pay their respects to their lost ones, leave messages and send offerings such as digital flowers and candles.
</p>
<p>
    The Necrotopia system, as any other system, may be subject to various forms of hacking : an unauthorised person may attempt to access another person’s information ; one may attempt to modify another’s memories ; companies such as Google and Facebook may choose to censor your digital data according to their commercial interests; and some memories may be deemed inappropriate for showing in different cultural contexts. However, the Ministry of Memories with its network of Memory Police will ensure your hybrid remains rest in peace.

</p>
<div class='embed-container'>
    <iframe src='https://player.vimeo.com/video/74193154' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>