<div class='embed-container'>
    <iframe src='https://player.vimeo.com/video/44407703' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
<h1 class="project-title">Pulsing Around</h1>
<p>
    The installation fills a Rotunda below Vake Park in Tbilisi, Georgia with unheard sounds. Different sound impulses playfully interact with the acoustics and the architectural shape of the space. When entering the space the visitor listens to short clicking noises which are generated in different positions and thus communicate a feeling for the size, geometry and structure of the room. Even with eyes closed the different “clicks and cuts” explain the architectural form of the space since they are filtered, reflected by different surfaces and enriched with reverb by the room itself.
</p>
<p>
    This is a project I did during my internship at <a href="http://www.hands-on-sound.com/" target="_blank">Hands on Sound</a> in Berlin. My tasks covered a wide range of topics starting from the development of the initial ideas, understand and build the basic electronic setup, programming the Arduino and installing the project in Berlin. The installation was then taken to Georgia, as part of an international, public, contemporary art festival “Undergo. the parallels”.
</p>
<p>
    Here are a couple of words about the festival we created the installation for:
</p>
<blockquote>
    An exhibition project “undergo. the parallels” took place in Tbilisi pedestrian underground passages. After the collapse of the Soviet Union, these underground passages have experienced different stages of existence: first they were completely abandoned and became dangerous places of muggings and robbery. The outcome of this was that people entered them more and more seldom, choosing to cross streets loaded with traffic arbitrarily, which led to a significant death toll.
</blockquote>
<blockquote>
    Later, these undergrounds became places where alternative, unofficial selling points arose. The more efficient sellers developed kiosks, shops, gambling places etc. Some of these underground passageways developed their own life, parallel to “normal” city life in the open air. These passages somehow turned into spaces of meeting and communicating, the youth are gathering in gambling houses, some musicians and students meet to play and listen to the music, the shop keepers are in close contact with the passengers and potential customers.
</blockquote>