<div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/K9LGRCzY0-E?rel=0' frameborder='0' allowfullscreen></iframe>
</div>
<p>
    This is a program where the user can mix and convolve different sounds with an interface I created. The point was just to build a quick prototype of a tool for discovering and mixing sounds in a way that is more intuitive than the classic browse and click methods.
</p>
<p>
     Each circle/set on the screen represents a sample of sound which can be chosen by the user. The closer the centres of the circles are to the star shaped cursor, the more they will contribute to the output sound. There are two main classes of these sets (A and B) and they effect each other by a vocoder. The knobs in the middle are controlling the different parameters of the vocoder parameters.
</p>
<p>
    The interface is controlled by an iPad using TouchOSC. The user can move the cursor to roam around the sounding circles and also can change the position and size of the circles to locate them differently. The sound is passed through to Ableton Live and the knobs are controlling the parameters of the Live built in vocoder effect via MIDI.
</p>