<img src="/img/projects/sound-localisation.jpg" alt="Sound Localisation">
<h1 class="project-title">Sound Localisation</h1>
<p>
    This was my final Musical Acoustics Honours Project at the University of Edinburgh. I managed and designed an experiment studying the physics of sound waves around the head and related the theories of wave propagation to the psychology of hearing. This project summarised my interest in the combination of analytical science and human behaviours.
</p>
<p>
    The measurements consisted of comparing the sound signals approaching the two ears at different angles of sound incidence. There are two ways in which they can differ. One is the time difference, the other is the level/volume difference. These are the physical characteristics of sound that a human uses to be able to localise the sound source.
</p>
<p>
    After an extensive research on the theory of sound propagation around the head I found some unexpected results. The ability to localise sound sources can be ambiguous for a certain frequency band in given artificial environments. This means that in certain conditions a sound can be heard as if it was coming from one side whereas it approaches the listener from the other. This could be the fundamentals of further research in acoustic invisibility.
</p>