<div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/61PHpwO8NhU?rel=0' frameborder='0' allowfullscreen></iframe>
</div>
<h1 class="project-title">Talking Herbs</h1>
<p>
    We get most of our information about our everyday objects by using our eyes. We look at the size of things, see their colors, read their labels and brands, etc.
</p>
<p>
    This project is a little tweak in our kitchens where pots of spices can make a sound when they are touched. So, instead of grabbing them and reading the label which says the name of the spice, a sound would inform us about what the pot contains. This gag could make people understand the fact that we use our ears to get a huge amount of information from the world around us and how we should pay attention to them. It can also be used as an aid for visually impaired people.
</p>