@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(../../node_modules/angular-material/angular-material.min.css);
@import url(../../node_modules/photoswipe/dist/photoswipe.css);
@import url(../../node_modules/photoswipe/dist/default-skin/default-skin.css);

@import 'variables.less';

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
}

img {
    width: 100%;
}
ui-view, [ui-view] {
    &.ng-enter {
        transition: .5s;
        opacity: 0;
    }

    &.ng-enter-active {
        opacity: 1;
    }
}
p:not(:first-child) {
    margin-top: 30px;
}
blockquote {
    border-left: 1px solid rgba(0,0,0,.8);
    padding-left: 20px;
    margin-left: -20px;
    padding-bottom: 3px;
    font-style: italic;
}
#jp-toolbar {
    background: none;
    color: #000;
    md-list-item {
        margin-left: 160px;
    }
}
#jp-sidenav {
    width: 160px;
    md-list-item {
        font-size: 14px;
        font-weight: 300 !important;
    }
    .md-list-item-inner {
        justify-content: flex-end;
    }
}
#jp-content {
    padding: 20px;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-wrapper {
    max-width: 700px;
    font-size: 18px;
    line-height: 1.58;
}
.project-tile {
    background: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.1s linear;
    transform: scale(1);
    &:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.4);
        transform: scale(1.008);
        cursor: pointer;
    }
    .tile-header {
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    }
    .tile-footer {
        background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    }
    .title {
        font-size: 18px;
        font-weight: 400;
        text-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
}
.project-title {
    font-weight: 300;
}
.photo-tile {
    background: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.1s linear;
    &:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        cursor: pointer;
        .tile-header, .tile-footer {
            opacity: 1;
        }
    }
    .tile-header, .tile-footer {
        opacity: 0;
        transition: opacity 0.1s linear;
    }
    .tile-header {
        background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
        .title {
            text-shadow: 0 0 10px rgba(0,0,0,0.6);
        }
    }
    .tile-footer {
        h3 {
            font-size: 12px;
        }
        background: linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    }
}