<!-- Makar video -->
<div class='embed-container'>
    <iframe src='https://www.youtube.com/embed/E2hOTccVTwo?rel=0' frameborder='0' allowfullscreen></iframe>
</div>
<p>
    I took a course called Advanced Interface Design at UPF, Barcelona where we developed an augmented reality application prototype in a small group. The aim of our project was to create a platform which facilitates and encourages collaboration between people through art and music using everyday technology. Another important aspect was to explore the lines between the physical and virtual layers which is a recurrent theme in my other projects as well.
</p>
<p>
    We thought of public spaces as spots that could provide a physical layer for connecting people. As an initial idea, the concept of urban graffitis came to our mind, as it is a genuine way of sharing opinion and creativity in public places. Based on the same idea, our goal was to offer a setting in which people can interact with a given environment, leave their “messages” and let other people see, change and override them.
</p>
<p>
    With these thoughts in mind, we created an interactive augmented reality app for Android. As a first iteration, we developed this prototype for the university course but short after we went ahead and submitted a more advanced version to the <a href="https://devart.withgoogle.com/" target="_blank">Google DevArt</a> project.
</p>
<blockquote>
    “DevArt is a celebration of art made with code by artists that push the possibilities of creativity - where technology is their canvas and code is their raw material.”
</blockquote>
<p>
    We thought it was important to create an online platform where the creators could submit their augmented reality sketches along with the location where it can be found physically. This sketch can then be downloaded by anyone who is at the right location from the online platform. We made sure that the app worked from end-to-end: location scanning in 3D, creating sketches in <a href="https://processing.org/" target="_blank">Processing</a>, uploading them online, interacting with the app in real-time collaboratively.
</p>
<p>
    This was our introduction to the project:
</p>
<blockquote>
    Imagine a second space that overlays reality, a creative space filled with digital artworks that seamlessly augment their real surroundings, transforming the environment into a playground to be explored. A brick wall becomes a musical step sequencer, a billboard in the metro station becomes a collaborative drawing canvas, the skyscrapers transform into beautiful glowing pillars of light that play notes when touched. A place where the boundary between the real and the virtual becomes fuzzy. This is the power of augmented reality, but tapping into its potential can be overwhelming for less technically-minded artists.
    Makar is an attempt to fix this, consisting of a set of user-friendly tools for the authoring and viewing of interactive augmented-reality artworks. The main tools are an Android app for viewing the artworks and assisting with augmentation, and a Processing library and toolset for creating the works themselves.
</blockquote>
<p>
    I also include a video that I made for the original university project we have developed. We built a 3D music sequencer which got overlayed on top of the camera view. When someone uses the app, they see the sequencer on the screen that they can play in real time. At the same time another viewer can see these changes and interact with the instrument as well. This way they are collaborating in the music making process.
</p>

<!-- Reactag video -->
<div class='embed-container'>
    <iframe src="https://www.youtube.com/embed/hJ2ByfEW8Hk?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

